body {
  background-color: white;
}
div#prin {
  background-color: lightblue;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(0,0,0,0.5);
}
input {
  background-color: white;
}
button {
  background-color: white;
}
